[submodule "RF24Physical"]
	path = RF24Physical
	url = git@github.com:brandonbraun653/RF24Physical.git
[submodule "lib/Chimera"]
	path = lib/Chimera
	url = git@github.com:brandonbraun653/Chimera.git
[submodule "lib/Kratos"]
	path = lib/Kratos
	url = git@github.com:brandonbraun653/Kratos.git
